body{
    background-color: #F1FAFF;
}

#LoginBox{                                  /* caixa de login ?? TRANSITION*/
    background-color: #FAFAFA;
    margin: auto;
    width: 30%;
    box-shadow: 5px 5px 10px gray;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin-top: 15%;
}

#LoginInputs{                               /* table de login*/
    margin: 25px auto 20px;
}

#LoginInputs tr td input{                  /* inputs de login*/
    padding: 12px 20px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    outline: none;
    width: 280px;
    font-size: 16px;
}

#LoginInputs tr td button{                 /* botão de login*/
    display: block;
    margin: auto;
    margin-top: 5px;

    background-color: #2445B3;
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 14px 20px;
    cursor: pointer;
    
    font-size: 15px;
    color: white;
    
}

#LoginInputs tr td button:hover{                 /* botão de login*/
    background-color:#4760b3;
}

#warning{                                        /* aviso*/
    color: #fff;
    background-color: rgba(250, 0, 0, 0.61); 
    font-size: 25px;
    height: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    border-radius: 5px;
}

.anim{
    animation: shake 0.5s;
    animation-delay: 0.6s;
}

@keyframes shake {
    0% { transform: translate(5px); }
    20% { transform: translate(-5px) ; }
    40% { transform: translate(5px) ; }
    60% { transform: translate(-5px) ; }
    80% { transform: translate(5px) ; }
  }