body{
    background-color: #F1FAFF;
}

#ListaBox{                                  /* caixa da lista*/
    background-color: #FAFAFA;
    margin: auto;
    width: 70%;
    border-radius: 5px;
    box-shadow: 5px 5px 10px gray;
    padding: 10px;
    text-align: center;
    margin-top: 5%;
}

#BIncluir{                 /* botão de login*/
    float: right;
    margin-right: 28px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    background-color: #3665ff;
    outline: none;
    border: none;
    border-radius: 3px;
    padding: 14px 20px;
    padding-left: 30px;
    cursor: pointer;

    font-size: 20px;
    color: white;
}
#BIncluir:hover{
    background-color: #4f77fd;
}

#BIncluir img{
    width: 15px;
    height: 15px;
    position: absolute;
    right : 75%;
    top: 35%;
}

#Lista{                                    /* table do conteúdo*/
    width: 95%;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    margin: auto;
    border-radius: 5px;
    border-spacing: 0px;
    margin-bottom: 30px;
}

#lista tr th{                             /* header da lista*/
    background-color: #2e3c5c;
    font-size: 20px;
    padding: 10px;
    color: #FAFAFA;
}

#lista th:nth-last-child(2),#lista th:nth-last-child(1){    /* 2 últimas colunas*/
    width: 5%;
}

#lista td:nth-last-child(2),#lista td:nth-last-child(1){    /* 2 últimas colunas*/
    background-color: rgba(255, 255, 255, 0);
}

#lista tr:not(:first-child){
    display: none;
}

#lista tr td{                        
    text-align: center;
    color: #868686;
    height: 50px;
}

#lista tr:nth-child(even){
    background-color: #FFFFFF;
}
#lista tr:nth-child(odd){
    background-color: rgb(225, 248, 255);
}

.del,.edit{                               /* botões de editar e excluir*/
    border: none;
    border-radius: 3px;
    padding: 2px 2px;
    cursor: pointer;
    outline: none;
}
.del img, .edit img{
    height: 35px;
    width: 35px;
}

.del{
    background-color: rgba(250, 0, 0, 0.61);
    color: white;
}
.del:hover{
    background-color: rgba(253, 34, 34, 0.61);
}

.edit{
    background-color: #3665ff;
    color: white;
    border-radius: 5px;
}
.edit:hover{
    background-color: #4f77fd; 
}


#timer{
    color: black;
    background-color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    border: none;
    border-radius: 3px;
    padding: 12px 10px;
    margin-left: 28px;
    width: 70px;
    height: 25px;
    font-size: 20px;

}

.anim{
    animation: shake 0.5s;
    animation-delay: 0.6s;
}

@keyframes shake {
    0% { transform: translate(5px); }
    20% { transform: translate(-5px) ; }
    40% { transform: translate(5px) ; }
    60% { transform: translate(-5px) ; }
    80% { transform: translate(5px) ; }
  }