.overlay {                                   /* overlay que escurece fundo*/
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    display: none;
}

.popup {
    padding: 20px;
    background: #FAFAFA;
    border-radius: 5px;
    width: 30%;

    position: fixed;
    margin-top: 200px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

}

.popup h2 {
    margin-top: 5px;
    margin-left: 55px;
    font-family: Tahoma, Arial, sans-serif;
}

#close, #DelClose {                                    /* X para fechar*/
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    font-weight: bold;
    color: rgba(250, 0, 0, 0.61);
}
#close:hover,#DelClose:hover {
    color: rgba(253, 34, 34, 0.61);
    cursor: pointer;
}

#Tinputs, #Tconfirm{                                   /* table com campos*/
    margin-left:auto;
    margin-right:auto;
}

#nome, #sobrenome, #nascimento, #altura, #peso{       /* campos*/
    padding: 12px 20px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    outline: none;
    width: 250px;
    font-size: 16px;
    border-radius: 3px;
    
}

#altura, #peso, #cancelar, #salvar, #atualizar{
    width: 123px;
    margin-bottom: 15px;
}

#cancelar, #salvar, #atualizar{                            /* Botões*/
    margin-top: 5px;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
}

#cancelar{
    background-color: rgba(250, 0, 0, 0.61);
}
#cancelar:hover, #DelConfirmar:hover{
    background-color: rgba(253, 34, 34, 0.61);
}

#salvar, #atualizar{
    background-color: #3665ff;
    color: white;
}
#salvar:hover, #atualizar:hover, #DelCancelar:hover{
    background-color: #4f77fd; 
}


#warning{
    width: 250px;
    text-align: center;
    color: #fff;
    background-color: rgba(250, 0, 0, 0.61); 
    font-size: 20px;
    height: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    border-radius: 5px;
}

#DelCancelar{
    margin-top: 5px;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    background-color: #3665ff;
    width: 100px;
    padding-right: 50px;
}

#DelConfirmar{
    margin-top: 5px;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    background-color: rgba(250, 0, 0, 0.61);
    width: 100px;
}

#cuidado{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 60px;
    padding-bottom: 20px;
}